@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
      url('../fonts/SFProDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
      url('../fonts/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
      url('../fonts/SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
    font-size: 13px;
}

body {
  font-family: 'SFProDisplay', sans-serif;
  background: transparent;
  position: relative;
  overflow: hidden;
}

#app {
    padding: 45px 10px 10px 10px;
    background-image: linear-gradient(100deg, #1e55d1 0%, #ac8edd 100%);
}

[class*=ag-theme-] {
    font-family: 'SFProDisplay', sans-serif!important;
}

.ag-watermark {
    display: none!important;
}

#contextMenu, #contextMenuCategory, #contextMenuPhoi, #contextMenuWhatsApp, #contextMenuInsta {
  background-color: #fff;
  z-index: 9999999!important;
  position: fixed;
}

#contextMenu:not(.open) {
  top: -999px;
  left: -999px;
}

#contextMenuCategory:not(.open), #contextMenuPhoi:not(.open), #contextMenuWhatsApp:not(.open), #contextMenuInsta:not(.open) {
  display: none;
}

#pageLoading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-color: #ffffffe8;
  cursor: wait;
}

.account-wrapper {
  width: calc(100% - 350px);
  height: calc(100vh - 55px);
}

#accounts {
  position: relative;
  overflow: hidden;
  padding-right: 350px;
}

#accounts .ag-ltr .ag-cell {
  padding: 10px;
}

.app-wrapper {
  background: #fff;
}

.profileItem:hover {
  background-color: #e2e2e2;
}

#panel {
  width: 370px;
  position: absolute;
  top: 40px;
  right: 10px;
  bottom: 10px;
}

#adPanel {
  width: 350px;
  position: absolute;
  background: #fff;
  top: 105px;
  height: calc(100% - 157px);
  right: 10px;
}

#app[data="via"] #adPanel {
  height: calc(100% - 115px)!important;
}

.folded #adPanel {
  width: 0px!important;
  margin-left: 0!important;
}

#adPanel #foldButton .ri-arrow-drop-left-line, 
.folded #adPanel #foldButton .ri-arrow-drop-right-line {
  display: none;
}

.folded #adPanel #foldButton .ri-arrow-drop-left-line {
  display: block;
}

#foldButton {
  position: absolute;
  width: 23px;
  height: 40px;
  background: #fff;
  right: 349px;
  top: 50%;
  margin-top: -20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 30px;
  line-height: 40px;
  text-align: left;
  cursor: pointer;
  z-index: 99;
}

.folded #adPanel #foldButton {
  right: -10px;
}

.folded #accounts {
  padding-right: 0;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    color: #fff;
    padding: 0 10px;
    height: 40px
}

.header-top a:hover {
  background: #0000003b;
}

.header-top {
  height: 45px;
}
.header-bottom {
  height: 40px;
  background: rgb(0 0 0 / 10%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: calc(100vw - 400px);
}

#header .titleBarButtons button {
  border: 0;
  background: transparent;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-left: 8px;
  cursor: pointer;
  -webkit-app-region: no-drag;
  font-size: 16px;
}

.ag-root-wrapper.ag-layout-normal {
    border: 0!important;
}

/* .nav-tabs {
    background-color: #f5f7f7;
}

.nav-link.active {
    border-top-color: transparent!important;
}

.nav-item:first-child .nav-link.active {
    border-left: 0!important;
} */

.ag-header-cell:last-child:after {
    display: none;
}

/* .ag-header-cell .ag-header-cell-text:before {
    font-family: 'remixicon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}

.ag-header-cell[col-id="account"] .ag-header-cell-text:before {
    content: '\f264'
}

.ag-header-cell[col-id="email"] .ag-header-cell-text:before {
    content: '\eef6'
}

.ag-header-cell[col-id="passMail"] .ag-header-cell-text:before {
    content: '\eef8'
}

.ag-header-cell[col-id="cookies"] .ag-header-cell-text:before {
    content: '\ec16'
} */

#contextMenu {
  background-color: #fff;
  z-index: 9999999999999!important;
  position: fixed;
}

#contextMenu:not(.open) {
  top: -999px;
  left: -999px;
}

.form-switch.form-switch-md {
    margin-bottom: 0.75rem; /* JUST FOR STYLING PURPOSE */
}
  
.form-switch.form-switch-md .form-check-input {
    height: 1.25rem;
    width: calc(2rem + 0.5rem);
    border-radius: 3rem;
    margin-top: 0;
}

.control-btn {
  padding: 0 20px 0 10px;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.control-btn i {
  width: 23px;
  height: 23px;
  display: block;
  margin-right: 10px;
  color: #fff;
  border-radius: 100%;
  line-height: 23px;
  text-align: center;
  font-weight: 400;
}

#checkingScreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#category {
  white-space: nowrap;
  font-size: 0;
  padding: 0 5px;
}

.cat-item:not(.active):before {
  content: '';
  left: -1px;
  position: absolute;
  top: 10px;
  width: 1px;
  bottom: 10px;
  background: rgb(255 255 255 / 24%);
}

.cat-item.active:after, .cat-item.active:before,
.tool-item.active:after, .tool-item.active:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="4.894" height="4.91" viewBox="0 0 4.894 4.91"><path id="Path_1" data-name="Path 1" d="M4.895,5H0V.09A5.045,5.045,0,0,0,4.895,5Z" transform="translate(-0.001 -0.09)" fill="%23fff"/></svg>');
  bottom: 0;
  right: -5px;
  top: inherit;
}

.cat-item.active:before,
.tool-item.active:before {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="5" height="5" viewBox="0 0 5 5"><defs><clipPath id="clip-Web_1920_1"><rect width="5" height="5"/></clipPath></defs><g id="Web_1920_1" data-name="Web 1920 Ã¢â‚¬â€œ 1" clip-path="url(%23clip-Web_1920_1)"><path id="Path_1" data-name="Path 1" d="M0,5H4.895V.09A5.045,5.045,0,0,1,0,5Z" transform="translate(0.105 0)" fill="%23fff"/></g></svg>');
  right: inherit;
  left: -5px;
}

.cat-item, .tool-item, #addCategory {
  border: 0;
  padding: 10px 20px;
  font-weight: 700;
  color: #fff;
  height: 40px;
  display: inline-block;
  background: transparent;
  font-size: 1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
}

.cat-item.active,
.tool-item.active {
  color: #666;
  background: #fff
}

.cat-item:not(.active):hover,
.tool-item:not(.active):hover {
  background: rgb(0 0 0 / 12%);
}

.tool-item.active:first-child:before {
  left: 0px;
  bottom: -3px;
  background: #fff;
}

.tool-item.active:last-child:after {
  right: 0px;
  bottom: -3px;
  background: #fff;
}

.category-nav-wrapper {
  position: relative;
}

/* .category-nav-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30px;
  width: 30px;
  background: linear-gradient(to right, #ff000000 0%,#0000001f 100%);
} */

button.category-nav {
  background: transparent;
  color: #fff;
}

button.category-nav:disabled {
  opacity: 0.5;
}

#addCategory {
  background: transparent;
}

#logs {
  height: 400px;
  overflow-y: auto;
}

.log-item {
  display: flex;
}

.log-item label {
  width: 100%;
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.log-item input:checked + label {
  background-color: #0d6efd;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  padding: 10px;
}

::-webkit-scrollbar-track-piece {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 5px;
}

.phoiItem {
  position: relative;
  cursor: pointer;
}

.phoiItem.active {
  background-color: #f5f5f5;
}

.phoiItem.active i {
  display: block;
}

.phoiItem i {
  display: none;
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 1;
}

.modal-backdrop, .modal  {
  /* top: 40px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  width: inherit;
  height: inherit;
  background: transparent; */
}

#regModal .modal-dialog {
  max-width: calc(100% - 100px)!important;
}

.swal2-backdrop-show {
  background-color: transparent!important;
}

.swal2-popup {
  box-shadow: 0 0.3rem 1rem rgba(0,0,0,.15)!important;
  border: 1px solid #e2e2e2;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.dropdown-submenu .dropdown-menu {
  display: none;
  bottom: -50px;
  position: absolute;
  left: calc(100% - 25px);
  margin-top: -1px;
  z-index: 99999999;
}

.checkbox-lg .form-check-input{
  top: .8rem;
  scale: 1.4;
  margin-right: 0.7rem;
  }
 
 .checkbox-lg .form-check-label {
  padding-top: 13px;
  }

  #menuButton {
    position: absolute;
    background: #fff;
    z-index: 99;
    width: 30px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    border: 0;
    right: 370px;
    padding: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -5px 0 5px 0 rgb(0 0 0 / 9%);
    font-size: 20px;
}

.ri-arrow-left-s-line {
  display: none;
}

body.hideMenu #panel {
  width: 0;
}

body.hideMenu #menuButton .ri-arrow-right-s-line {
  display: none;
}

body.hideMenu #menuButton .ri-arrow-left-s-line {
  display: block;
}

body.hideMenu #menuButton {
  right: 0
}

body.hideMenu .account-wrapper, body.hideMenu .header-bottom {
  width: calc(100vw - 20px);
}

.saveLogStatus .spinner-border {
  display: none;
}

.saveLogStatus.running .spinner-border {
  display: block;
}

#loadingScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: #ffffff7a;
}

.swal2-actions.swal2-loading{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fffffff0;
  z-index: 999;
}

.loader {
  position: relative;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #e8e6ff;
  border-right-color: #41B2D7;
  animation: l2 1s infinite linear;
}

#gridLoading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 100;
}

#loadingData:after {
  content: '';
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background-image: url('../img/logo.png');
  background-size: 100%;
}

#loadingData:before {
  content: 'Đang tải dữ liệu...';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 60px;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 14px;
}

@keyframes l2 {to{transform: rotate(1turn)}}

.moreCard {
  position: absolute;
  min-width: 100px;
  z-index: 999;
  background: #fff;
  line-height: initial;
}
.cardItem:not(:last-child) {
  margin-bottom: 10px;
}

#adSelect .select2-container .select2-selection--single {
  height: inherit;
  border: 0;
  box-shadow: none !important;
  outline: none!important
}

#adSelect .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 3px;
}

#adSelect .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
}

.select2-container .select2-selection--single {
  height: 33px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  border-radius: var(--bs-border-radius);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 33px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 4px;
}
.select2-container--open .select2-dropdown {
  border: var(--bs-border-width) solid var(--bs-border-color);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}
.select2-search--dropdown .select2-search__field {
  border: var(--bs-border-width) solid var(--bs-border-color);
  outline: none;
}
.select2-container--default .select2-results__option--selected {
  background-color: transparent;
}
.select2-container {
  width: 100%!important;
}

.phoiItem {
  position: relative;
  cursor: pointer;
}

.phoiItem.active {
  background-color: #f5f5f5;
}

.phoiItem.active i {
  display: block;
}

.phoiItem i {
  display: none;
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 1;
}

.skeleton {
  background: #e2e2e2;
}

[data-bs-theme="dark"] .skeleton {
  background: #ffffff36
}

@-webkit-keyframes skeletonShine {
  to {
    background-position: 500px 0;
  }
}
@keyframes skeletonShine {
  to {
    background-position: 500px 0;
  }
}


.btn-group input[type="radio"] + label {
  color: #000!important
}

.btn-group input[type="radio"]:checked + label {
  color: #fff!important;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}


.avatar-letter {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #00000057;
  font-weight: 900;
  font-size: 16px;
  font-family: "Nunito", serif;
  line-height: 30px;
}

.avatar-letter:after {
  content: attr(data-letter)
}

.avatar-letter[data-letter="A"], .avatar-letter[data-letter="1"] {background-color: #e25f50;}
.avatar-letter[data-letter="B"], .avatar-letter[data-letter="2"] { background-color: #f25e90; }
.avatar-letter[data-letter="C"], .avatar-letter[data-letter="3"] { background-color: #bc67cb; }
.avatar-letter[data-letter="D"], .avatar-letter[data-letter="4"] { background-color: #9672cf; }
.avatar-letter[data-letter="E"], .avatar-letter[data-letter="5"] { background-color: #7984ce; }
.avatar-letter[data-letter="F"], .avatar-letter[data-letter="6"] { background-color: #5c96fa; }
.avatar-letter[data-letter="G"], .avatar-letter[data-letter="7"] { background-color: #7bdeeb; }
.avatar-letter[data-letter="H"], .avatar-letter[data-letter="8"] { background-color: #45d0e2; }
.avatar-letter[data-letter="I"], .avatar-letter[data-letter="9"] { background-color: #48b7ad; }
.avatar-letter[data-letter="J"] { background-color: #52bc89; }
.avatar-letter[data-letter="K"] { background-color: #9ace5f; }
.avatar-letter[data-letter="L"] { background-color: #d4e34a; }
.avatar-letter[data-letter="M"] { background-color: #f9d715; }
.avatar-letter[data-letter="N"] { background-color: #fac400; }
.avatar-letter[data-letter="O"] { background-color: #ffaa00; }
.avatar-letter[data-letter="P"] { background-color: #ff8b61; }
.avatar-letter[data-letter="Q"] { background-color: #c2c2c2; }
.avatar-letter[data-letter="R"] { background-color: #8ea3af; }
.avatar-letter[data-letter="S"] { background-color: #a1877d; }
.avatar-letter[data-letter="T"] { background-color: #a3a3a3; }
.avatar-letter[data-letter="U"] { background-color: #b0b6e3; }
.avatar-letter[data-letter="V"] { background-color: #b49cde; }
.avatar-letter[data-letter="W"] { background-color: #c2c2c2; }
.avatar-letter[data-letter="X"] { background-color: #7bdeeb; }
.avatar-letter[data-letter="Y"] { background-color: #bcaaa4; }
.avatar-letter[data-letter="Z"] { background-color: #aed77f; }

input[name="delay"]::-webkit-inner-spin-button,
input[name="delay"]::-webkit-outer-spin-button,
input[name="limit"]::-webkit-inner-spin-button,
input[name="limit"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.swal2-container {
  background: #00000057 !important;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  border-radius: 15px!important;
}

div:where(.swal2-container) button:where(.swal2-styled) {
  border-radius: 10px!important;
  padding-left: 20px!important;
  padding-right: 20px!important;
}

[data-bs-theme="dark"] .dark-bg {
  background: #2f333d!important;
}

[data-bs-theme="dark"] .dark-border-0 {
  border: 0!important
}

[data-bs-theme="dark"] .dark-border {
  border-color: #49505780!important;
}

[data-bs-theme="dark"] .dark-link {
  color: var(--bs-body-color)!important;
}

[data-bs-theme="dark"] .dark-body-bg {
  background: var(--bs-body-bg)!important;
}

[data-bs-theme="dark"] {
  --bs-body-bg: #272b34
}

[data-bs-theme="dark"] ::-webkit-scrollbar-track-piece {
  background: #2f333d;
}

[data-bs-theme="dark"] ::-webkit-scrollbar-thumb {
  background: #ffffff0f;
}